img {
    width: 100%;
    display: inline-block;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}

.col {
    width: 24%;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px 0px lightgray;
    margin-top: 1%;
}

.body {
    padding: 10px;
}